.list {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol,
li {
  margin: 0;
  list-style-type: none;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* Header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.menu-item {
  color: #404bbf;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  margin-right: 76px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.listing_header {
  display: flex;
  gap: 40px;
}

.logotype {
  color: #2e2f42;
}

.menu-link {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0 24px;
}

.menu-link:hover,
.menu-contact:hover {
  color: #404bbf;
}

.menu-link:focus,
.menu-contact:focus {
  color: #404bbf;
}

.menu-address {
  display: flex;
  gap: 40px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.menu-contact {
  display: flex;
  gap: 40px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0 24px;
}

/* SECTION 1 */

.section_one {
  padding: 188px 0;
  background-color: #2e2f42;
}

.title-top {
  max-width: 496px;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.my-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  padding: 16px 32px;
}

.my-button:hover,
.my-button:focus {
  background-color: #404bbf;
}

/* SECTION 2 */

.section_two {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.listing_s_two {
  display: flex;
  gap: 24px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.title-list-s_two {
  width: calc((100% - 72px) / 4);
}

.title-three {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.next-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* SECTION 3 */

.section_three {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.title-s_three {
  margin-bottom: 72px;
  text-align: center;
}

.title-top-s_three {
  text-align: center;
  margin-bottom: 8px;
}

.list-item-team {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.name_s_three {
  padding: 32px 0 32px;
}

.listing_s_three {
  display: flex;
  gap: 24px;
}

.title-three_s3 {
  text-align: center;
  margin-bottom: 8px;
}

.next-text_s_three {
  text-align: center;
}

/* SECTION 4 */

.section_four {
  padding-top: 120px;
  padding-bottom: 120px;
}

.title-top-s_four {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
}

.listing_s_four {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  margin-top: 120px;
  row-gap: 48px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.app_categories {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.icons_app {
  width: calc((100% - 48px) / 3);
}

/* footer */

.section_five {
  background-color: #2e2f42;
  padding: 100px 0;
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer-color {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.065em;
  color: #f4f4fd;
}

.end-p {
  max-width: 264px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
